<%- include('partials/_header'); -%>

<div class="container">
    <h1>Home</h1>
    <p>Satisfacción y calidad</p>

    <!-- Titulo -->
    <h1><%= todasEntradas[0].titulo %></h1>
    <p style="margin-bottom: 20px !important"><%- todasEntradas[0].contenido %></p>
    
        
</div>
<%- include('partials/_footer'); -%>    