<%- include('partials/_header'); -%>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/start" method="post">
                        <a>Email:</a>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email" class="form-control mb-2" required>
                        </div>
                        <a>Contraseña:</a>
                        <div class="form-group">
                            <input type="text" name="ADRRESS" placeholder="Contraseña" class="form-control mb-2" required>
                        </div>
                        <button type="submit" class="btn btn-primary">
                           Iniciar secion
                        </button>
                    </form>
                </div>
            </div>
        </div>
<%- include('partials/_footer'); -%>